@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    background-color: hsl(36, 100%, 99%);
    font-size: 15px;
    max-width: 1200px;
    margin: auto;
}

ul{
    list-style: none;
}

p{
    line-height: 1.8;
    color: hsl(236, 13%, 42%);
}

img{
    width: 100%;
    max-width: 100%;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem;
}

.header nav{

}

.show{
    padding: 1.25rem;
    padding-top: 0;
}
.show h1{
    font-size: 2rem;
    color: hsl(240, 100%, 5%);
    margin: 1rem 0;
}
.show div:first-child article p{
   margin-bottom: 2rem; 
}
.show > div:first-child article button{
    background-color: hsl(5, 85%, 63%);
    color: #fff;
    padding: 0.8rem 2rem;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
.show > div:last-child{
    background-color: hsl(240, 100%, 5%);
    margin-top: 4rem;
    padding: 1.25rem 1.25rem 0;
}
.show > div:last-child article{
    padding: 1rem 0;
}
.show > div:last-child article:not(:last-child){
    border-bottom: 2px solid hsl(236, 13%, 42%);
}
.show > div:last-child h2{
    color: hsl(35, 77%, 62%);
}
.show > div:last-child h3{
    color: white;
    margin-bottom: 1rem;
}
.show > div:last-child h3:hover{
    color: hsl(35, 77%, 62%);
    cursor: pointer;
}

.cards{
    margin-top: 1.5rem;
    padding: 1.25rem;
    display: grid;
    grid-template-columns: 1, 1fr;
    gap: 2.3rem;
}
.cards article{
    display: flex;
    gap: 1.25rem;
    align-items: center;
}
.cards article img{
    width: 150px;
}
.cards article span{
    color: hsl(233, 8%, 79%);
    font-weight: 800;
    font-size: 1.5rem;
}
.cards article h4{
    font-weight: 800;
    font-size: 1.2rem;
    margin: 1rem 0;
}

@media (min-width: 1024px) {
    
    .show{
        display: flex;
        gap: 1.5rem;
    }

    .show > div:first-child article {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        place-items: center;
    }

    .show > div:last-child {
        margin-top: 0;
    }

    .show h1 {
        font-size: 3.2rem;
        font-family: "inter";

    }
    
 
    .cards {
        display: flex;
    }


}